

NET "led_out[7]" IOSTANDARD = LVCMOS33;
NET "led_out[6]" IOSTANDARD = LVCMOS33;
NET "led_out[5]" IOSTANDARD = LVCMOS33;
NET "led_out[4]" IOSTANDARD = LVCMOS33;
NET "led_out[3]" IOSTANDARD = LVCMOS33;
NET "led_out[2]" IOSTANDARD = LVCMOS33;
NET "led_out[1]" IOSTANDARD = LVCMOS33;
NET "led_out[0]" IOSTANDARD = LVCMOS33;


NET "led_out[7]" LOC = U16;
NET "led_out[6]" LOC = U17;
NET "led_out[5]" LOC = V17;
NET "led_out[4]" LOC = R18;
NET "led_out[3]" LOC = N14;
NET "led_out[2]" LOC = K15;
NET "led_out[1]" LOC = J13;
NET "led_out[0]" LOC = H17;


NET "segment_out[11]" IOSTANDARD = LVCMOS33;
NET "segment_out[10]" IOSTANDARD = LVCMOS33;
NET "segment_out[9]" IOSTANDARD = LVCMOS33;
NET "segment_out[8]" IOSTANDARD = LVCMOS33;
NET "segment_out[7]" IOSTANDARD = LVCMOS33;
NET "segment_out[6]" IOSTANDARD = LVCMOS33;
NET "segment_out[5]" IOSTANDARD = LVCMOS33;
NET "segment_out[4]" IOSTANDARD = LVCMOS33;
NET "segment_out[3]" IOSTANDARD = LVCMOS33;
NET "segment_out[2]" IOSTANDARD = LVCMOS33;
NET "segment_out[1]" IOSTANDARD = LVCMOS33;
NET "segment_out[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "kbclk" IOSTANDARD = LVCMOS33;
NET "kbdata" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;


NET "clk" LOC = E3;
NET "kbclk" LOC = F4;
NET "kbdata" LOC = B2;
NET "reset" LOC = N17;




NET "dbg1[7]" IOSTANDARD = LVCMOS33;
NET "dbg1[6]" IOSTANDARD = LVCMOS33;
NET "dbg1[5]" IOSTANDARD = LVCMOS33;
NET "dbg1[4]" IOSTANDARD = LVCMOS33;
NET "dbg1[3]" IOSTANDARD = LVCMOS33;
NET "dbg1[2]" IOSTANDARD = LVCMOS33;
NET "dbg1[1]" IOSTANDARD = LVCMOS33;
NET "dbg1[0]" IOSTANDARD = LVCMOS33;


NET "dbg1[7]" LOC = V11;
NET "dbg1[6]" LOC = V12;
NET "dbg1[5]" LOC = V14;
NET "dbg1[4]" LOC = V15;
NET "dbg1[3]" LOC = T16;
NET "dbg1[2]" LOC = U14;
NET "dbg1[1]" LOC = T15;
NET "dbg1[0]" LOC = V16;


NET "kbdata" PULLUP;
NET "kbclk" PULLUP;

# PlanAhead Generated physical constraints 

NET "segment_out[14]" LOC = U13;
NET "segment_out[13]" LOC = K2;
NET "segment_out[12]" LOC = T14;
NET "segment_out[11]" LOC = P14;
NET "segment_out[10]" LOC = J14;
NET "segment_out[9]" LOC = T9;
NET "segment_out[8]" LOC = J18;
NET "segment_out[7]" LOC = J17;
NET "segment_out[6]" LOC = T10;
NET "segment_out[5]" LOC = R10;
NET "segment_out[4]" LOC = K16;
NET "segment_out[3]" LOC = K13;
NET "segment_out[2]" LOC = P15;
NET "segment_out[1]" LOC = T11;
NET "segment_out[0]" LOC = L18;

# PlanAhead Generated IO constraints 

NET "segment_out[13]" IOSTANDARD = LVCMOS33;
NET "segment_out[14]" IOSTANDARD = LVCMOS33;
NET "segment_out[12]" IOSTANDARD = LVCMOS33;
