

NET "x[5]" IOSTANDARD = LVCMOS33;
NET "x[4]" IOSTANDARD = LVCMOS33;
NET "x[3]" IOSTANDARD = LVCMOS33;
NET "x[2]" IOSTANDARD = LVCMOS33;
NET "x[1]" IOSTANDARD = LVCMOS33;
NET "y[5]" IOSTANDARD = LVCMOS33;
NET "y[4]" IOSTANDARD = LVCMOS33;
NET "y[3]" IOSTANDARD = LVCMOS33;
NET "y[2]" IOSTANDARD = LVCMOS33;
NET "y[1]" IOSTANDARD = LVCMOS33;


NET "x[3]" LOC = U12;
NET "x[4]" LOC = U11;
NET "x[5]" LOC = V10;
NET "y[1]" LOC = T16;
NET "y[3]" LOC = V14;
NET "y[4]" LOC = V12;

# PlanAhead Generated physical constraints 

NET "x[2]" LOC = H6;
NET "x[1]" LOC = T13;
NET "y[5]" LOC = V11;
NET "y[2]" LOC = V15;
