
# PlanAhead Generated physical constraints 

NET "O[1]" LOC = U11;
NET "O[2]" LOC = V10;
NET "R[1]" LOC = H17;
NET "R[2]" LOC = K15;
NET "R[3]" LOC = J13;
NET "R[4]" LOC = N14;
NET "OP_B[1]" LOC = J15;
NET "OP_B[2]" LOC = L16;
NET "OP_B[3]" LOC = M13;
NET "OP_A[1]" LOC = R15;
NET "OP_A[2]" LOC = R17;
NET "OP_A[3]" LOC = T18;

# PlanAhead Generated IO constraints 

NET "O[2]" IOSTANDARD = LVCMOS33;
NET "O[1]" IOSTANDARD = LVCMOS33;
NET "OP_A[3]" IOSTANDARD = LVCMOS33;
NET "OP_A[2]" IOSTANDARD = LVCMOS33;
NET "OP_A[1]" IOSTANDARD = LVCMOS33;
NET "OP_B[3]" IOSTANDARD = LVCMOS33;
NET "OP_B[2]" IOSTANDARD = LVCMOS33;
NET "OP_B[1]" IOSTANDARD = LVCMOS33;
NET "R[4]" IOSTANDARD = LVCMOS33;
NET "R[3]" IOSTANDARD = LVCMOS33;
NET "R[2]" IOSTANDARD = LVCMOS33;
NET "R[1]" IOSTANDARD = LVCMOS33;
